.contenedorTexto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.tituloPedido{
    margin: 30px;
    width: 345px;
}
.divQr{
    /* margin: 10px; */
}

.sinPedidos{
    color: rgba(245, 76, 9, 255);
    border: 1px;
    margin: 20px;
}

/*pedidos en curso*/
.divConfirmacion{  
    display: flex;   
    justify-content: space-evenly;

}
.botonAceptar{
    height: 50px;
    width: 180px;
    /* justify-content: center; */
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(242, 130, 65, 255);
    color: white;
    border-radius: 10px;
    /* border: 1px solid white; */
    /* margin: 0px; */
    cursor: pointer;
    font-size: 16px;
    margin: 20px 0px 0px 0px;
    border: none;
}
.botonAceptar:hover{
    background-color: #33a854;
    color: white;
}
.botonRechazar{
    height: 50px;
    width: 180px;
    font-weight: bold;
    font-size: 20px;
    background-color: #fc4b08;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px 20px 0px 0px;
    border: none;
}
.botonRechazar:hover{
    background: #f18449;
    color: white;
   
  }

